.nav ul {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.nav a {
    font-family: 'Montserrat_SemiBold', sans-serif;
    color: #696969;
    font-size: 16px;
    line-height: 24px;
}

.nav a:hover {
    color: #7E3AF2;
}

@media (max-width: 420px) {
    
    .nav {
        position: absolute;
        background-color: #FCFBFA;
        top: -239px;
        right: 0;
        text-align: right;
        padding-top: 69px;
        border-left: 1px solid #E5E7EB;
        border-bottom: 1px solid #E5E7EB;
        z-index: 100;
        transition: .2s;
    }

    .nav ul {
        display: block;
    }
    
    .nav a {
        display: block;
        width: 70vw;
        padding: 14px 16px;
        border-top: 1px solid #E5E7EB;
    }
}